<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link rel="stylesheet" href="/assets/css/jquery-ui-1.8.16.custom.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="dns-prefetch" href="http://api.angel.co/">
  <meta http-equiv="x-dns-prefetch-control" content="off">

  <title>Backbone Boilerplate</title>
</head>

<body>
  <div id="header" class="c100">
    <h1 class="c40"><img src="/assets/img/logo_38pt.gif" />Trends</h1>
    <nav class="c50">
      <ul>
        <li><a href="http://angellist.com">AngelList</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
  
  <!-- Main container -->
  <div role="main" id="main">
    
    <!-- Contains search interface for entire app -->
    <div id="search-container" class="c100">
    </div>

    <!-- Contains the three side-by-side panels -->
    <div id="panel-container">
      
      <!-- Contains metadata about the search -->
      <div class="c30 fleft panel" id="metadata-container">
        test
      </div>
      
      <!-- Contains the list of startups that matches the search. -->
      <div class="c30 fleft panel" id="startup-list-container">
      </div>
      
      <!-- Contains the information about the selected startup -->
      <div class="c30 fleft panel last" id="startup-info-container">
      </div>
      
    </div>    

  </div>

  <!-- templates -->
  <!-- Search :: Search container -->
  <script type="text/template" id="search-container-tmpl">
    <div>
      What are you looking for?
    </div>
  </script>
  
  <!-- Search :: Actual search box widget -->
  <script type="text/template" id="single-search-container-tmpl"> 
    <div class="ui-widget">
    	<label for="<%= id %>"><%= type %>: </label>
    	<input id="<%= id %>" />
    </div>
    <ul class="search-tags">
      
    </ul>
  </script>

  <!-- Search :: A match result search item -->
  <script type="text/template" id="single-search-item-tmpl">
    <li id="<%= id %>" class="selected-search-item">
      <div>
        <a href="#" data-id="<%= id %>" class="close">x</a><%= label %>
      </div>
    </li>
  </script>

  <script type="text/template" id="panel-search-metadata">

    <div class="c100 metadata-section">
      <h2> Average Amount Raised: </h2>
      <div class="c60 post10 fleft aright">
        <h1><%= stats.raising.amount %></h1>
      </div>
      <small class="small c30 fleft data-points"><i>Based on <b><%= stats.raising.data_points %></b> data points.</i></small>
    </div>
    <div class="c100 metadata-section">
      <h2> Average Valuation: </h2>
      <div class="c60 post10 fleft aright">
        <h1><%= stats.pre_money.amount %></h1>
      </div>
      <small class="small c30 fleft data-points"><i>Based on <b><%= stats.pre_money.data_points %></b> data points.</i></small>
    </div>

  </script>

  <!-- Panels :: Startup List Container -->
  <script type="text/template" id="panel-startup-list">
    <div>
      Sort by: 
      <select>
        <option value="follower_count">Followers</option>
        <option value="name">Ascending</option>
      </select>
    </div>

    <div id="range">
      
      <div class="c100">
        <div class="c100 slider-sparkline"></div>
      </div>
      <div class="c100">
        <div class="c10 fleft" id="slider-range-left">10</div>
        <div class="c75 fleft" id="slider-range"></div>
        <div class="c10 fright" id="slider-range-right">100</div>
      </div>
    </div>
    <div class="c100 details">
      Showing <span id="startup-list-counts">0</span> visible startups out of 
      <span id="startup-total-count">?</span> <a id="load-more-startups" href="#">[More...]</a>
    </div>
    <ul class="startup-list">
      
    </ul>
  </script>

  <!-- Panels :: Mini Startup Item -->
  <script type="text/template" id="panel-startup-list-item">
    <div class="banner c100"> 

      <div class="infowrapper">
        <div class="info">
          <h3><%= startup.name %></h3>
          <div> Followers: <%= startup.follower_count %> </div>
        </div>
      </div>

      <div class="logowrapper">
        <img align="left" class="logo" src="<%= startup.thumb_url %>" />
      </div> 

    </div>
  </script>

  <!-- Panels :: Full Startup Metadata -->
  <script type="text/template" id="panel-startup-full">
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">About</a></li>
        <li><a href="#tabs-2">Screenshots</a></li>
      </ul>
      <div id="tabs-1">
        <div class="banner c100"> 

          <div class="infowrapper">
            <div class="info">
              <h3><%= startup.name %></h3>
              <h4><%= startup.high_concept %></h4>
              
              <div class="small">
                <% if (startup.twitter_url) { %>
                  <a  href=""><img src="/assets/img/follow_twitter_gray.png" /></a>
                <% } %>
                <a href="<%= startup.company_url %>">Website</a>
                <a href="<%= startup.angellist_url %>">Profile</a>
                <br />
              </div>

              <div class="c100 smallest">
                <% _.each(_.union(startup.locations, startup.markets), function(tag) { %>
                  <div class="tag"><a href="#"><%= tag.name %></a> · </div>
                <% }); %>
              </div>

            </div>
          </div>

          <div class="logowrapper">
            <img align="left" class="logo" src="<%= startup.logo_url %>" />
          </div> 

        </div>
        <hr>
        <div class="info c100">
          <%= startup.product_desc %>
        </div>
      </div>
      <div id="tabs-2">
        <% if (startup.screenshots.length) { %>
          <% _.each(startup.screenshots, function(screenshot) { %>
          <img class="screenshot" src="<%= screenshot.original %>" />
          <hr>
        <% }); %>  
        <% } else { %>
          <h3> This startup has posted no screenshots </h3>
        <% } %>
      </div>
    </div>
  </script>

  
  <!-- Dependencies -->
  <script src="/assets/js/libs/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/jquery-ui-1.8.16.custom.min.js"></script>

  <script type="text/javascript" src="/assets/js/jquery-sparklines.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.tipsy.js"></script>

  <script src="/assets/js/libs/underscore.js"></script>
  <script src="/assets/js/libs/backbone.js"></script>

  <!-- Application -->
  <script src="/app/application.js"></script>
  <script src="/app/modules/utils.js"></script>
  <script src="/app/modules/search.js"></script>
  <script src="/app/modules/startup.js"></script>
  <script src="/app/modules/base.js"></script>
</body>
</html>
